@import 'windi.css';
@font-face {
  font-family: 'Hex';
  src:  url('/assets/fonts/HexaframeCF-Bold.woff2') format('woff2'),
        url('/assets/fonts/HexaframeCF-Bold.woff') format('woff');
}

@font-face{
  font-family: 'EU';
  src:  url('/assets/fonts/EuroStyleNormal.woff2') format('woff2'),
        url('/assets/fonts/EuroStyleNormal.woff') format('woff');
}

@font-face{
  font-family: 'Futura';
  src:  url('/assets/fonts/FuturaLT.woff') format('woff2'),
        url('/assets/fonts/FuturaLT.woff') format('woff');
}

body {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.uppercase{
  font-family: 'Hex', sans-serif;
}

.EU {
  font-family: 'EU', sans-serif;
}

p{
  font-family: 'Futura', sans-serif;
}



.Hex{
  font-family: 'Hex', sans-serif;
}

.text-center{
  text-align: -webkit-center !important;
}

:root {
  --theme-color: #006400;
}

@keyframes slideRight {
  0% {
    @apply translate-x-full;
  }
  100% {
    @apply translate-x-0;
  }
}

@keyframes slideLeft {
  0% {
    @apply -translate-x-full;
  }
  100% {
    @apply translate-x-0;
  }
}

@keyframes slideUp {
    0% {
        @apply translate-y-full;
    }
    100% {
        @apply translate-y-0;
    }
}
.group {
    transition: transform 0.3s ease, padding-bottom 0.3s ease, opacity 0.3s ease;
}

.animactive{
    border-style: solid;
    border-width: 0px;
    border-radius: 8px;
    background: white !important;
    box-shadow: 0px 2px 13.2px -1.5733px rgba(50,50,93,0.2)
}

.group:hover {
    border-style: solid;
    border-width: 0px;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 2px 13.2px -1.5733px rgba(50,50,93,0.2)
}

.anim{
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
}

#milnort{
    background-image: url('/images/1c-1.png');
    background-size: cover;
}

#agro {
  position: relative;
  background-repeat: repeat;
  background-size: 25%;
  overflow: hidden;
}

#agro::before {
  
  content: "";
  position: absolute;
  width: 300%;
  height: 300%;
  top: -50%;
  left: -50%;
  background: url('/images/argo.svg') 0 0 repeat;
  opacity: 0.2;
  transform: rotate(20deg);
  background-size: 10%;
  background-color: #1f2021;
}

.frame {
    background-color: var(--theme-color);
    width: 180px;
    height: 180px;
    padding: 25px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    /* border-radius: 100%; */
    box-shadow: 0px 0px 0 5px white, 0px 0px 0px 10px var(--theme-color), 4px 4px 8px 5px black;
    /* margin-bottom: 25px; */
    transform: scale(1);
    transition: all 0.3s ease;
  }
  
  .frame:hover {
  box-shadow: 0px 0px 0 5px white, 0px 0px 0px 10px var(--theme-color);
  transform: scale(0.99);
  transition: all 0.3s ease;
  }
  

#scientist-hand{
  top: -20px;
  left: -8px;
  height: 101px;
  width: auto;
}

#scientist{
    top: -29px;
    left: -31px;
    height: 200px;
    width: auto;
}

#particle-fg{
    top: -29px;
    left: -31px;
    height: 200px;
    width: auto;
}

#particle-bg{
    top: -29px;
    left: -31px;
    height: 200px;
    width: auto;
}
  
  #soil:hover > div > #scientist{
    transform: translate(-10px, -10px);
    transition: all 0.5s ease;
  }
  
  #soil:hover > div > #scientist-hand{
    transform: translate(0px, -8px);
    rotate: 23deg;
  }
  
  #soil:hover > div > #particle-fg{
    transform: translate(-20px, -20px);
    scale: 0.7;
  }
  
  #soil:hover > div > #particle-bg{
    transform: translate(-20px, -20px);
    scale: 1.2;
  }
  
  #soil:hover > div > #bloom{
    transform: translate(-64%, -57%);
    scale: 1.2;
  }

  .mask{
    clip-path: inset(-75px 45.6px 4.4px -184.8px round 89px);
    max-height: 214px;
    width: 200px;
    height: 160px;
    }
    
    .mask > img {
    max-height: 200px;
    transition: all 0.5s ease;
    }


.centered-frame{
    /* margin-bottom: 1.5rem; */
    text-align: center;
    text-align: -webkit-center;
  }

  .fullheight{
    height: 100% !important;
  }

  
.wrap {
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }
  .wrap .perspective {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    transform-style: preserve-3d;
    overflow: visible;
  }
  .book-wrap {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all ease-out 0.6s;
    -webkit-transition: all ease-out 0.6s;
    -moz-transition: all ease-out 0.6s;
    -ms-transition: all ease-out 0.6s;
    -o-transition: all ease-out 0.6s;
    transform-origin: 70px;
  }
  .book {
    width: 140px;
    height: 200px;
    background: url(../images/report.jpg) no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    rotate: 10deg;
    bottom: 0;
    margin: auto;
    cursor: pointer;
  }
  .book-title {
    content: "";
    position: absolute;
    height: 200px;
    width: 15px;
    left: -5px;
    top: -25px;
    bottom: 0;
    rotate: 10deg;
    margin: auto;
    background: #ffffff;
    transform: rotateY(-80deg) translateX(-7px);
  }
  .book-back {    
    width: 140px;
    height: 200px;
    background: url(../images/report_back.jpg) no-repeat center center;
    box-shadow: 7px 13px 15px #00000059;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    rotate: 10deg;
    right: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    transform: rotate(180deg) translateZ(-15px) translateX(0px);
  }

  @media screen and (max-width: 992px) {
    .wrap{
        padding-top: 125px;
        padding-bottom: 50px;
    }
    .book {
      width: 140px;
      height: 200px;
    }
    .book-title {
      content: "";
      height: 200px;
      width: 15px;
      left: -5px;
      top: -25px;
    }
    .book-back {    
      width: 140px;
      height: 200px;
    }
}

  .book-back .text {
    transform: rotateX(180deg);
    position: absolute;
    bottom: 30px;
    padding: 20px;
    text-align: left;
  }
  .book-back .text h3 {
    margin-bottom: 20px;
    color: #fff;
  }
  .book-back .text span {
    display: block;
    margin-bottom: 20px;
    color: #fff;
  }
  .book-back .text span:last-of-type {
    margin-top: 30px;
  }
  .rotate {
    transform: rotateY(20deg);
  }
  .flip {
    transform: rotateY(180deg);
  }

.background-flip{
    background-image: url(../images/bg-shape2.png),url(../images/bg-shape1.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat;
}

#tabl{    
  rotate: 10deg;
  height: 185px;
  top: -37px;
  right: 44px;
  overflow: visible;
}

#tabl-vid{
  rotate: 10deg;
  top: -26px;
  right: 18px;
  height: 165px;
  width: auto;
}

#mobl{ 
  width: 71px;
  top: 75px;
  overflow: visible;
  left: 24px;
  rotate: 343deg;
}

#mobl-vid{
  top: 56px;
  rotate: 343deg;
  height: 119px;
  width: auto;
  border-radius: 10px;
  left: 32px;
}

.bg-darker{
  background-color: #0f0f0f00;
}

#greeting{
  min-height: 7rem;
}

@media screen and (max-width: 640px) {
  #greeting{
    min-height: 3rem;
  }
}

.caret {
  font-weight: 700;
  color: #ffffff;
  animation: caret 1s steps(1) infinite alternate-reverse;
  animation-delay: 2s;
}

@keyframes caret {
  50% { color: transparent; }
}

.gradient-text {
  background: linear-gradient(90deg, white, white, red, red, white, white);
  background-size: 200% auto; /* make the background larger than the element */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s ease-in-out infinite alternate-reverse;
  animation-delay: 2s;
}

@keyframes gradient {
  0% { background-position: 200% 0; }
  100% { background-position: 0 0; }
}

.calc-h {
  height: calc(100vh - 8rem);
}

@media screen and (max-width: 640px) {
    .calc-h {
    height: calc(100vh - 27rem);
    min-width: 100vw;
  }
}

.logo{
  max-height: 25px;
  display: inline;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 2s forwards;
}

.bg-hex{
  background-color: #171717;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ffffff' fill-opacity='0.01' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.bg-grad {
  background: linear-gradient(to right, transparent 20%, #090909 35%, #090909 65%, transparent 80%);
}

.bg-grad-preload {
  background: linear-gradient(to right, transparent 20%, #090909 35%, #090909 65%, transparent 80%);
  width: 100vw;
  height: 100vh;
  text-align: center;
  text-align: -webkit-center;
  align-content: center;
}

.bg-grad-element{
  background-image: linear-gradient(to top right, #212223, #1e1f20);
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #171717;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ffffff' fill-opacity='0.01' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.bklogo-container{
  height: 150px;
}

.bklogo-style {
  fill: none;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  stroke-width: 10px;
}

@keyframes dashk {
  0%, 20% {
    stroke-dashoffset: 460;
  }
  70%, 100% {
    stroke-dashoffset: 920;
  }
}

@keyframes dashb{
  0%, 20% {
    stroke-dashoffset: 230;
  }
  70%, 100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dashi{
  0%, 20% {
    stroke-dashoffset: 80;
  }
  70%, 100% {
    stroke-dashoffset: 0;
  }
}

#K {
  stroke-dasharray: 460;
  stroke-dashoffset: 460;
  animation: dashk 5s ease-out infinite alternate;
}

#B{
  stroke-dasharray: 230;
  stroke-dashoffset: 230;
  animation: dashb 5s ease-out infinite alternate;
}

#I{
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  animation: dashi 5s ease-out infinite alternate;
}

.modal{
  z-index: 9999;
}

@keyframes modalOpen {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modalClose {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}

.modal-opening {
  animation: modalOpen 0.5s forwards;
}

.modal-closing {
  animation: modalClose 0.5s forwards;
}

#moving-background {
  background: url('/path/to/your/image.jpg');
  background-size: cover;
  background-position: 0 0;
  transition: background-position 0.5s;
}

/* #petroholod {
  clip-path: polygon(0% 5%, 10% 0%, 0% -57%, 100% -100%, 90% 0%, 100% 5%, 100% 95%, 90% 100%, 10% 100%, 0% 95%);
} */

#petroholod:hover #moving-background {
  background-position: 100% 0;
}

.ice-app{
  background-size: contain;
}

#ice-vid{
  left: 1px;
  width: auto;
  height: 165px;
  border-radius: 10px;
}

.svgmask {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-bottom: -24px;
  height: 150px;
  overflow-y: hidden;
}

#petrosvg{
  transform: translateY(25px);
  scale: 1.3;
}

/***************************************************
 * Generated by SVG Artista on 5/2/2024, 6:14:29 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 @keyframes balldash {
  0% {
    stroke-dashoffset: 84.79936981201172px;
    stroke-dasharray: 84.79936981201172px;
  }
  100% {
    stroke-dashoffset: 0px;
    stroke-dasharray: 84.79936981201172px;
  }
}


@keyframes footdash {
  0% {
    stroke-dashoffset: 84.47728729248047px;
    stroke-dasharray: 84.47728729248047px;
  }
  100% {
    stroke-dashoffset: 0px;
    stroke-dasharray: 84.47728729248047px;
  }
}

@keyframes fill {
  0% {
    fill: rgba(0, 0, 0, 0);
  }
  50% {
    fill: rgba(0, 0, 0, 0);
  }
  100% {
    fill: rgb(255, 255, 255);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

 svg .svg-elem-1 {
  stroke-dashoffset: 84.79936981201172px;
  stroke-dasharray: 84.79936981201172px;
  fill: transparent;
  transition: fill 0.5s, stroke 0.5s;
  stroke: white;
  animation-delay: 2s;
  animation: dash 4s cubic-bezier(0.47, 0, 0.745, 0.715) infinite alternate-reverse;
}


.svg-elem-2 {
  stroke-dasharray: 361.4220275878906px;
  stroke-dashoffset: 361.4220275878906px;
  stroke: white;
  fill: transparent;
  animation-delay: 2s;
  animation: dash 4s cubic-bezier(0.47, 0, 0.745, 0.715) infinite alternate-reverse;
}


svg .svg-elem-3 {
  stroke-dashoffset: 84.47728729248047px;
  stroke-dasharray: 84.47728729248047px;
  fill: transparent;
  stroke: white;
  animation-delay: 2s;
  animation: dash 4s cubic-bezier(0.47, 0, 0.745, 0.715) infinite alternate-reverse;
}


svg .svg-elem-4 {
  stroke-dashoffset: 36.05646514892578px;
  stroke-dasharray: 36.05646514892578px;
  fill: transparent;
  stroke: white;

  animation-delay: 2s;
animation: fill 4s cubic-bezier(0.47, 0, 0.745, 0.715) infinite alternate-reverse;
}



svg .svg-elem-5 {
  stroke-dashoffset: 214.78253173828125px;
  stroke-dasharray: 214.78253173828125px;
  fill: transparent;
  stroke: white;

  animation-delay: 2s;
animation: fill 4s cubic-bezier(0.47, 0, 0.745, 0.715) infinite alternate-reverse;
}


svg .svg-elem-6 {
  stroke-dashoffset: 61.30393600463867px;
  stroke-dasharray: 61.30393600463867px;
  fill: transparent;
  stroke: white;

  animation-delay: 2s;
animation: fill 4s cubic-bezier(0.47, 0, 0.745, 0.715) infinite alternate-reverse;
}


@keyframes scanner {
  0% {
    transform: translate(0px, 0px);
    rotate: 0deg;
  }
  50% {
      rotate: -40deg;
      transform: translate(-13px, 13px);
  }
  100% {
      transform: translate(0px, 0px);
      rotate: 0deg;
  }
}

#scanner {
  animation: scanner 2s infinite alternate-reverse;
  animation-delay: 2s;
}

.scrolling-background {
  height: 50px;
  width: 100%;
  rotate: 353deg;
  margin-top: 40px;
  scale: 1.5;
}

@keyframes scroll-right {
  0% { background-position: 0 0; }
  100% { background-position: 826px 0; }
}

.scroll-right {
  background: url(../images/mks-bg-1.png) repeat-x;
  background-repeat: repeat-x;
  animation: scroll-right 60s linear infinite alternate-reverse;
  animation-delay: 2s;
  background-size: cover;
}

@keyframes scroll-left {
  0% { background-position: 826px 0; }
  100% { background-position: 0 0; }
}

.scroll-left {
  background: url(../images/mks-bg-2.png) repeat-x;
  animation: scroll-left 60s linear infinite alternate-reverse;
  animation-delay: 2s;
  background-size: cover;
}

.stacked-images {
  position: relative;
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  pointer-events: none;
}

.stacked-image {
  position: absolute;
  top: 0;
  left: 0;
}

.laptop-modal{
  top: -4%;
  left: 80%;
  width: 400px;
  max-width: max-content;
}

.laptop-modal-mob{
    top: 13%;
    left: 16%;
    width: 320px;
    max-width: max-content;
}

.laptop-modal-vid{
  width: 309px;
  top: 3%;
  left: 102%;
  max-width: max-content;
}

.laptop-modal-vid-mob{
  width: 248px;
  top: 19%;
  left: 34%;
  max-width: max-content;
}

.phone-modal{
  top: 21%;
  left: 63%;
  width: 100px;
  max-width: max-content;
}

.phone-modal-vid{
  top: 25%;
  left: 68%;
  width: 77px;
  border-radius: 10px;
  max-width: max-content;
}

.tablet-modal{
  top: 8%;
  left: 250%;
  width: 161px;
  max-width: max-content;
}

.tablet-modal-vid{
  top: 13.5%;
  left: 256%;
  width: 138px;
  max-width: max-content;
}
